:root {
    /* ------- COLORS ------- */
    --color-primary-v-light: hsl(225, 100%, 98%);
    --color-primary-light: hsl(225, 100%, 94%);
    --color-primary: hsl(225, 100%, 92%);
    --color-secondary: hsl(245, 75%, 52);
    --color-text-dark: hsl(223, 47%, 23%);
    --color-text: hsl(224, 23%, 55%);
    --color-white: hsl(0, 0%, 100%);
    --color-hover: hsl(245, 83%, 68%);

    /* ------- RADIUS ------- */
    --radius-20: 20px;
    --radius-11: 11px;
    --radius-100: 100%;

    /* ------- SHADOWS ------- */
    --box-shadow: hsla(245, 75%, 52%, 0.183);
    --box-shadow-btn: hsla(245, 75%, 52%, 0.19);
}

/* ------- BASIC ------- */

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

body {
    background: var(--color-primary-light) url('../images/pattern-background-desktop.svg');
    background-position: top center;
    background-repeat: repeat-x;
    font-size: 1.6rem;
    font-family: 'Red Hat Display', 'Arial', 'Helvetica', sans-serif;
    font-weight: 500;
    min-height: 100vh;
    position: relative;
}

.card {
    background-color: var(--color-white);
    border-radius: var(--radius-20);
    box-shadow: 0 40px 40px var(--box-shadow);
    margin: 0 2.4rem;
    max-width: 327px;
    z-index: 1;
}

.card__img-wrapper {
    border-radius: var(--radius-20);
    height: 160px;
    width: 100%;
}

.card__img {
    border-top-left-radius: var(--radius-20);
    border-top-right-radius: var(--radius-20);
    display: block;
}

.card__title {
    color: var(--color-text-dark);
    font-size: 2.2rem;
    font-weight: 900;
    padding: 3.2rem 0 2rem 0;
    text-align: center;
}

.card__description {
    color: var(--color-text);
    line-height: 1.6;
    padding: 0 2.2rem;
    text-align: center;
}

.card__links {
    display: flex;
    flex-direction: column;
    margin: 0 2.4rem;
    margin-top: -1rem;
}

.card__link {
    border-radius: var(--radius-11);
    background-color: none;
    color: var(--color-text);
    font-weight: 900;
    padding: 1.7rem;
    text-decoration: none;
    text-align: center;
}

.card__link--order {
    background-color: #3829e0;
    box-shadow: 0 20px 20px var(--box-shadow-btn);
    color: var(--color-white);
    margin-bottom: 1rem;
    transition: background-color 0.3s linear;
}

.card__link--order:hover {
    background-color: var(--color-hover);
}

.card__link--cancel {
    margin-bottom: 2rem;
    transition: color 0.3s linear;
}

.card__link--cancel:hover {
    color: var(--color-text-dark);
}

.order {
    align-items: center;
    background-color: var(--color-primary-v-light);
    border-radius: var(--radius-11);
    display: flex;
    margin: 2.5rem;
    padding: 1.5rem;
}

.order__icon {
    margin-right: 2rem;
}

.order__plan {
    color: var(--color-text);
    font-size: 1.4rem;
}

.text-bold {
    color: var(--color-text-dark);
    display: inline-block;
    font-weight: 900;
    padding-bottom: 0.6rem;
}

.order__link {
    font-size: 1.3rem;
    font-weight: 700;
    transition: color 0.3s linear;
}

.order__link:hover {
    color: var(--color-hover);
    text-decoration: none;
}

/* ------- RWD ------- */

@media screen and (max-width: 375px) {
    body {
        background: var(--color-primary-light) url('../images/pattern-background-mobile.svg');
        background-position: top center;
        background-repeat: repeat-x;
    }
}

@media screen and (min-width: 1440px) {
    .card {
        max-width: 450px;
    }

    .card__title {
        font-size: 2.8rem;
    }

    .card__img-wrapper {
        height: 220px;
    }

    .card__description {
        padding: 0 5rem;
    }

    .card__links {
        margin: 0 5rem;
    }

    .order {
        margin: 2.5rem 5rem 3.2rem 5rem;
        padding: 2.5rem;
    }

    .order__link {
        font-size: 1.4rem;
    }

    .order__plan {
        font-size: 1.6rem;
    }

    .card__link--cancel {
        padding: 2.5rem;
    }
}
